connectors:
  # OpenShift
  - type: openshift
    id: openshift
    name: OpenShift
    config:
      issuer: API_SERVER
      clientID: system:serviceaccount:aicoe-argocd-dev:argocd-dex-server
      clientSecret: $dex.serviceaccount.clientSecret
      insecureCA: true
      groups:
        - dev-group